<div id="worksPage" class="jumbotron">
    <h1>Gönüllü İşleri</h1>
    <a class="btn btn-primary" ng-if='memberType === "ROLE_ADMIN"' ui-sref="workAdd"><h4>Yeni İş Ekle</h4></a>
    <hr/>
    <div class="container">
        <div ng-repeat="work in works | orderBy: '-dateOfWork' | limitTo: paginationLimit()">
            <div id="worksBox" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-star"></span>
                            <b>{{work.workType.name}}</b> <b>(İş Tarihi: {{work.dateOfWork | date:'dd/MM/yyyy'}})</b>
                            <button type="button" class="btn btn-primary" ng-click="deleteWork(work.id)"
                                    ng-if='memberType === "ROLE_ADMIN"'>Sil <span
                                    class="glyphicon glyphicon-erase"></span>
                            </button>
                        </h4>
                    </div>
                    <div id="collapseText" class="panel-collapse collapse in">
                        <div class="panel-body"><span>{{work.description}}</span>
                        </div>
                        <div class="panel-footer">
                            <div><b>Ekleyen: </b>{{work.member.firstName}} {{work.member.lastName}}</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div><h2 ng-if="works == '' || works == null">Henüz bir iş eklenmemiştir.</h2></div>
        <div>
            <button class="btn btn-primary center-block" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">
                Daha Fazlası
            </button>
        </div>
    </div>
</div>