<div id="productsPage" class="jumbotron">
    <h1>Ürünler</h1>
    <a class="btn btn-primary" ng-if='memberType === "ROLE_ADMIN"' ui-sref="products/add">
        <h4>Yeni Ürün Ekle</h4>
    </a>
    <hr/>
    <div>
        <div ng-repeat="product in products" ng-if="$index % 3 == 0" class="row">

            <div class="col-xs-4" class="productBox" class="panel-group" ng-if="products[$index] != null">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-apple"></span>
                            <a ui-sref="product"ng-click="setProductId(products[$index].id)">
                                <b>Ürün Adı:</b> {{products[$index].name}}
                            </a>
                            <button type="button" class="btn btn-primary" ng-click="deleteProduct(products[$index].id)"
                                    ng-if='memberType === "ROLE_ADMIN" || memberType === "ROLE_STOCKER"'>Sil <span
                                    class="glyphicon glyphicon-erase"></span>
                            </button>
                        </h4>
                    </div>
                        <img ng-if="products[$index].photoUrl == null" src="media/photo/no_product_img.png" width="300">
                        <img ng-src="{{products[$index].photoUrl}}" width="300">
                        <br/>
                        <h4>Ürün Fiyatı: {{products[$index].price}} / TL</h4>
                    </div>
            </div>

            <div class="col-xs-4" class="productBox" class="panel-group" ng-if="products[$index+1] != null">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-apple"></span>
                            <a ui-sref="product"ng-click="setProductId(products[$index+1].id)">
                                <b>Ürün Adı:</b> {{products[$index+1].name}}
                            </a>
                            <button type="button" class="btn btn-primary" ng-click="deleteProduct(products[$index+1].id)"
                                    ng-if='memberType === "ROLE_ADMIN" || memberType === "ROLE_STOCKER"'>Sil <span
                                    class="glyphicon glyphicon-erase"></span>
                            </button>
                        </h4>
                    </div>
                    <img ng-if="products[$index+1].photoUrl == null" src="media/photo/no_product_img.png" width="300">
                    <img ng-src="{{products[$index+1].photoUrl}}" width="300">
                    <br/>
                    <h4>Ürün Fiyatı: {{products[$index+1].price}} / TL</h4>
                </div>
            </div>

            <div class="col-xs-4" class="productBox" class="panel-group" ng-if="products[$index+2] != null">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-apple"></span>
                            <a ui-sref="product"ng-click="setProductId(products[$index+2].id)">
                                <b>Ürün Adı:</b> {{products[$index+2].name}}
                            </a>
                            <button type="button" class="btn btn-primary" ng-click="deleteProduct(products[$index+2].id)"
                                    ng-if='memberType === "ROLE_ADMIN" || memberType === "ROLE_STOCKER"'>Sil <span
                                    class="glyphicon glyphicon-erase"></span>
                            </button>
                        </h4>
                    </div>

                    <img ng-if="products[$index+2].photoUrl == null" src="media/photo/no_product_img.png" width="300">
                    <img ng-src="{{products[$index+2].photoUrl}}" width="300">
                    <br/>
                    <h4>Ürün Fiyatı: {{products[$index+2].price}} / TL</h4>
                </div>
            </div>
        </div>
        <div><h2 ng-if="products == '' || products == null">Henüz bir ürün eklenmemiştir.</h2></div>
    </div>
</div>