<div id="loginForm" class="jumbotron container">
    <form ng-submit="onLogin()">
        <h1>Giriş Yap</h1>
        <fieldset class="form-group">
            <label for="inputEmail">E-mail Adresi</label>
            <input class="form-control" id="inputEmail" placeholder="kullanici@boun.edu.tr"
                   ng-pattern="/^[A-Za-z0-9._%+-]+@boun.edu.tr$/" ng-model="credentials.username" required/>
        </fieldset>

        <fieldset class="form-group">
            <label for="inputPassword">Şifre</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Şifre" ng-minlength="6"
                   ng-maxlength="16" ng-model="credentials.password" required/>
        </fieldset>

        <fieldset class="form-group">
            <button id="registrationSubmit" type="submit" class="btn btn-lg btn-primary center-block">Giriş
            </button>
        </fieldset>

        <fieldset class="form-group" id="loginQuestions">
            <div align="right">
                <a ui-sref="howToRegister"><h4>Nasıl gönüllü olurum?</h4></a>
            </div>
        </fieldset>
    </form>
</div>