<div id="eventsAddPage" class="jumbotron" ng-controller="EventsCtrl">

    <form name="eventsForm" ng-submit="submitEventsForm(eventsForm.$valid, postTypeData.id)" novalidate>

        <h1>Etkinlik Ekle</h1>
        <hr/>

        <fieldset class="form-group"
                  ng-class="{'has-error': eventsForm.inputEventTitle.$invalid && !eventsForm.inputEventTitle.$untouched}">
            <label for="inputEventTitle">Başlık</label>
            <input type="text" name="inputEventTitle" id="inputEventTitle" class="form-control"
                   ng-model="eventsData.title" placeholder="Başlık" required/>
        </fieldset>

        <fieldset class="form-group"
                  ng-class="{'has-error': eventsForm.inputEventContent.$invalid && !eventsForm.inputEventContent.$untouched}">
            <label for="inputEventContent">Etkinlik</label>
            <textarea name="inputEventContent" id="inputEventContent" class="form-control"
                      ng-model="eventsData.content" placeholder="Etkinlik" required></textarea>
        </fieldset>

        <fieldset class="form-group"
                  ng-class="{'has-error': eventsForm.inputEventDate.$invalid && !eventsForm.inputEventDate.$untouched}">
            <label for="inputEventDate">Etkinlik Tarihi</label>
            <input type="date" name="inputEventDate" id="inputEventDate" class="form-control"
                   ng-model="eventsData.dateOfOccurrence"
                   required>
        </fieldset>

        <fieldset class="form-group">
            <button type="submit" id="eventsSubmit" class="btn btn-lg btn-primary center-block"
                    ng-disabled="!eventsForm.$valid">
                <span class="glyphicon glyphicon-send"></span> Kaydet
            </button>
        </fieldset>
    </form>
</div>
